html,
body {
	margin: 0;
	color: #000;
	background: #eee;
	font-family: sans-serif;
}

body {
	padding: 20px;
}

.thumbnail-img {
  width: 50px;
  height: 50px;
}


#menu-primary   {
    height: 30px; /* set to the height you want your menu to be */
    margin: 0 0 10px; /* just to give some spacing */
    float: right;
}
#menu-primary ul    {
    margin: 0; padding: 0; /* only needed if you have not done a CSS reset */
}
#menu-primary li    {
    display: block;
    float: left;
    line-height: 30px; /* this should be the same as your #menu-primary height */
    height: 30px; /* this should be the same as your #menu-primary height */
    margin: 0; padding: 0; /* only needed if you don't have a reset */
    position: relative; /* this is needed in order to position sub menus */
}
#menu-primary li a  {
    display: block;
    height: 30px;
    line-height: 30px;
    padding: 0 15px;
    text-decoration: none;
    color: #000;
}
#menu-primary .current-menu-item a, #menu-primary .current_page_item a, #menu-primary a:hover {
    background: #ccc;
}

blockquote {
    font-size: 20px;
    font-weight: 700;
    color: #FFF;
    padding: 25px 50px;
    background: #555;
    max-width: 400px;
}
